/* General styling */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif; /* Updated font */
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: black; /* Ensure the background is black */
}

/* Background container */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* Background images */
.background-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.background-container img.active {
    opacity: 1;
}

/* Content container */
.content {
    z-index: 1;
    position: relative;
}
